<nav class="navbar navbar-light bg-light">
  <div class="container-fluid position-relative">
    <!-- Bild ganz links -->
    <img
      src="/Sonne.png"
      alt="Logo"
      class="logo position-absolute"
      style="left: 10px; height: 55px; width: 55px"
      title="Who is the best teacher"
    />
    <!-- Text in der Mitte -->
    <h1 class="special-font text-center w-100">Studierende Wordle</h1>

    <img
      src="/egg.png"
      alt="Logo"
      class="logo position-absolute float-end"
      style="right: 50px; height: 50px"
      title="Who is the best teacher???"
    />
  </div>
</nav>
